---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% assign items = site.teaching | sort: "date" | reverse %}

<div class="archive">
  {% for p in items %}
    <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
      <h2 class="archive__item-title">
        <a href="{{ p.url | relative_url }}">{{ p.title }}</a>
      </h2>
      {% if p.excerpt %}
        <div class="archive__item-excerpt">{{ p.excerpt | markdownify }}</div>
      {% endif %}
    </article>
  {% endfor %}
</div>
